<!DOCTYPE html>
<html>

<head>

    <title>HealthMate</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<div class="hero">

    <div class="hero-content">

        <h1>
            🏥 HealthMate
        </h1>

        <h2>
            Smart Health, Just One Tap Away
        </h2>

        <p>

            Monitor your health records, calculate BMI,
            receive AI-powered health tips, manage medicines,
            book appointments, and detect skin diseases —
            all in one application.

        </p>

        <br>

        <a href="/login">
            <button>
                <i class="fas fa-sign-in-alt"></i>
                Login
            </button>
        </a>

        <a href="/register">
            <button>
                <i class="fas fa-user-plus"></i>
                Register
            </button>
        </a>

    </div>

</div>

</body>

</html>